.quick-buy-modal {
    background-color: rgba(0, 0, 0, .8);
    cursor: default;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 6.25rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9998;

    .quick-buy-modal-content {
      min-height: 34.375rem;
      position: relative;
      width: 48rem;
      margin: 0 auto;
      background: white;
      .close {
        position: absolute;
        right: 0;
        padding: 1rem;
        background: none;
        border: none;
      }
      .quick-buy-wrapper {
        display: flex;
        .quick-buy-wrapper-left {
          flex-shrink: 0;
          height: 34.375rem;
          width: 25rem;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .quick-buy-wrapper-right {
          margin: 2rem 2rem 0;
          .quick-buy-header {
            margin: 0;
            padding: 0 0 1rem;
            position: relative;
            &::after{
              border-top: 1px solid #efefef;
              content: '';
              height: .0625rem;
              right: 0;
              position: absolute;
              width: 100%;
              margin-top: 1rem;
            }
            .title {
              font-size: 1rem;
              line-height: 1.31;
              margin-top: .5rem;
            }
            .price {
              font-size: 1.25rem;
              margin-top: 0;
              display: block;
              font-weight: bold;
              line-height: 1;
              color: #191919;
            }
          }
          .quick-buy-footer {
            margin-top: 1.5rem;
          }
        }
      }
    }
}

.add-to-bag-container {
  display: flex;
  .quantity-selector__wrapper {
    margin: 0;
    .quantity-selector__controls {
      font-weight: 700;
      height: 2.625rem;
      width: 6.875rem;
      border: 1px solid #cbcbcb;
      border-radius: 5px;
      display: flex;
      flex: 1;
      margin: 0;
      max-width: 8.125rem;
      .quantity-selector__disabled{
        color: #cbcbcb;
        cursor: not-allowed;
      }
      .quantity-selector__button {
        cursor: pointer;
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
        padding: .625rem;
        text-align: center;
        width: 33.33333%;
        &:first-child {
          border-right: 1px solid #cbcbcb;
        }
        &:last-child{
          border-left: 1px solid #cbcbcb;
        }
      }
      .quantity-selector__field {
        padding: 0;
        width: 33.33333%;
        position: relative;
        input {
          border: 0;
          cursor: default;
          font-size: .875rem;
          font-weight: 700;
          line-height: 1.25rem;
          padding: .625rem .3125rem;
          text-align: center;
          width: 100%;
          font-weight: 700;
          display: block;
        }
      }
    }
  }
  
  .add-to-bag-button-wrapper {
    margin-left: 0.5rem;
    .add-to-bag__disabled{
      cursor: not-allowed;
      background-color: #cbcbcb;
      background-image: none;
    }
    button {
      min-height: 2.5625rem;
      width: 100%;
      background-image: linear-gradient(180deg, #424242, #1a1a1a);
      color: #fff;
      border: none;
    }
  }
}

.invisible-scroll{
  position: relative; 
  overflow: hidden; 
  width: 100%; 
  height: auto; 
  min-height: 0px; 
  max-height: 216px;
}

.scrollbar-view{
  position: relative; 
  overflow: scroll;
  margin-right: -8px; 
  min-height: 8px; 
  max-height: 224px;
}

.horizontal-scrollbar {
  position: absolute; 
  height: 6px; 
  visibility: hidden;
  div {
    position: relative; 
    display: block; 
    height: 100%; 
    cursor: pointer; 
    border-radius: inherit; 
    background-color: rgba(0, 0, 0, 0.2); 
    width: 0px;
  }
}

.vertical-scrollbar{
  position: absolute; 
  width: 6px; 
  visibility: hidden;
  div{
    position: relative; 
    display: block; 
    width: 100%; 
    cursor: pointer; 
    border-radius: inherit; 
    background-color: rgba(0, 0, 0, 0.2); 
    height: 182px; 
    transform: translateY(0px);
  }
}

.header-container{
  .container{
    position: relative;
  }
}

.mini-basket__container-wrapper{
  position: absolute;
  top: 3.5rem;
  right: 0;
  z-index: 16;
  transition: height .5s;
  background: #fff;
  opacity: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #cbcbcb;
  &:hover {
    opacity: 1;
    width: 400px;
    height: 400px;
  }
}

